* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #222;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  color: white;
}

h1 {
  font-size: 80px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #a7c957;
}

h2 {
  font-size: 22px;
  margin-bottom: 40px;
  font-style: italic;
  font-weight: 400;
}

p {
  margin: 30px 0;
  font-weight: 700;
  color: salmon;
}

button {
  text-decoration: none;
  border: none;
  padding: 10px 0;
  width: 200px;
  display: block;
  margin: 10px auto;
  font-size: 20px;
  border-radius: 3px;
  color: white;
  font-weight: 700;
  background: #847577;
  transition: all 0.7s;
}

button:hover {
  color: #847577;
  background: white;
  cursor: pointer;
}

.info-el {
  color: greenyellow;
}

@media (max-width: 500px) {
  h1 {
    font-size: 60px;
  }
}
